<hr>
<div style="background-color:white; width: 100%; height: auto;">
    <div  layout="row" layout-xs="column" layout-align="space-between center">
        <div style="padding: 2%;">
            <img src="img/header/berlina-San-Isidro-Logo.png"  title="Berlina San isidro" alt="Berlina San Isidro" style="width: 100px; height: auto;" />
           
        </div>
        <div>
            <p class="md-body-1" style="color:black;  font-family: 'Candal', sans-serif; text-align: center;">
                
                sanisidro@cervezaberlina.com<br/>
                Chacabuco 435, San Isidro, Buenos Aires.<br/>
            </p>
        </div>
        <div style="padding: 2%;">
            <!--<a href="http://facebook.com/berlinasanisidro" style="text-decoration: none"><img src="img/footer/facebook-black.png"  title="facebook/animacionespatygonza" alt="facebook/animacionespatygonza" /></a>-->
          <!--  <a href="http://twitter.com/animacionespatygonza" style="text-decoration: none"><img src="img/footer/twitter.png"  title="twitter/animacionespatygonza" alt="twitter/animacionespatygonza" /></a>-->
            <a href="http://instagram.com/berlinasanisidro" style="text-decoration: none"><img src="img/footer/instagram-black.png"  title="instagram/berlinasanisidro" alt="instagram/animacionespatygonza" /></a>
        </div>
    </div>
</div>
<center>
        <div id="mapa" style="height: 50%; width: 100%;">
              <ng-map zoom="15" center="[40.74, -74.18]">
                <marker position="chacabuco 435, San isidro, Buenos Aires" 
                        title="Berlina Al Paso, San isidro" 
                        animation="Animation.BOUNCE"
                    centered="true">

                </marker>
              </ng-map>
        </div>
        <div id="directions-panel">
        </div>
    </center>
<div style="color:white; background-color:black; width: 100%; height: auto;text-align: center;" class="md-body-1">
    PoweredBy: MACCINGAMES S.R.L (Rafael Defelice)
</div>
